<div class="container">
    <form #urlForm="ngForm" (ngSubmit)="onSubmitUrlForm()">
        <h1>URL Shortener</h1>
        <div class="form-control mb-3">
            <label for="url" class="form-label">Enter URL</label>
            <input class="form-control" name="fullUrl" type="url" [(ngModel)]="fullUrl" required minlength="5">
        </div>
        <button class="btn btn-success" type="submit">Shorten URL</button>
    </form>

    <div class="my-3">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Original URL</th>
                    <th>Short URL</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let u of allUrls'>
                    <td class="text">{{u.full}}</td>
                    <td><a href="http://localhost:3000/{{u.short}}" role="button" (click)="shortUrlClicked(u.short)">
                            {{u.short}}
                        </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>